body {
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
}

img {
    margin-left: 170px;
}

.container{
    border: solid;
    border-color: white;
}

 .links{
    display: flex;
    justify-content: space-around;
    
}

 a {
    list-style: none;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.curry {
    background-color: yellow;
}

.alfredo{
    background-color: bisque;
}

.birria {
    background-color: orange;
}
